%ul
  %li
    = link_to 'https://www.linkedin.com/in/backpackerhh' do
      = semantic_icon(:linkedin, :big)
      LinkedIn
  %li
    = link_to 'https://twitter.com/backpackerhh' do
      = semantic_icon(:twitter, :big)
      Twitter
  %li
    = link_to 'https://github.com/backpackerhh' do
      = semantic_icon(:github, :big)
      GitHub
  %li
    = link_to 'http://stackoverflow.com/users/1477964/backpackerhh' do
      = semantic_icon(:stack, :overflow, :big)
      Stack Overflow
  %li
    = link_to 'https://www.codewars.com/users/backpackerhh' do
      = semantic_icon(:code, :big)
      Codewars
  %li
    = mail_to 'info@davidmontesdeoca.net' do
      = semantic_icon(:mail, :outline, :big)
      Email
