.ui.five.column.stackable.grid
  .row
    .column
      = link_to 'https://www.linkedin.com/in/backpackerhh' do
        = semantic_icon(:linkedin, :big)
        .content
          LinkedIn
    .column
      = link_to 'https://twitter.com/backpackerhh' do
        = semantic_icon(:twitter, :big)
        .content
          Twitter
    .column
      = link_to 'https://github.com/backpackerhh' do
        = semantic_icon(:github, :big)
        .content
          GitHub
    .column
      = link_to 'http://stackoverflow.com/users/1477964/backpackerhh' do
        = semantic_icon(:stack, :overflow, :big)
        .content
          Stack Overflow
    .column
      = mail_to 'info@davidmontesdeoca.net' do
        = semantic_icon(:mail, :outline, :big)
        .content
          Email
