%footer
  %ul
    %li= link_to 'LinkedIn', 'https://www.linkedin.com/in/backpackerhh'
    %li= link_to 'Twitter', 'https://twitter.com/backpackerhh'
    %li= link_to 'Github', 'https://github.com/backpackerhh'
    %li= link_to 'StackOverflow', 'http://stackoverflow.com/users/1477964/backpackerhh'
    %li= link_to 'Codewars', 'https://www.codewars.com/users/backpackerhh'
