!!!
%html{ lang: I18n.locale }
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    = display_meta_tags site: 'David Montesdeoca', alternate: { es: root_url(locale: :es), en: root_url(locale: :en) }, icon: [{ href: asset_path('favicon-16x16.png', skip_pipeline: true), sizes: '16x16', type: 'image/png' }, { href: asset_path('favicon-32x32.png', skip_pipeline: true), sizes: '32x32', type: 'image/png' }, { href: asset_path('apple-touch-icon-144x144.png', skip_pipeline: true), rel: 'apple-touch-icon-precomposed', sizes: '144x144', type: 'image/png' }, { href: asset_path('apple-touch-icon-152x152.png', skip_pipeline: true), rel: 'apple-touch-icon-precomposed', sizes: '152x152', type: 'image/png' }]
    %link{ href: '/humans.txt', rel: 'author' }
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
  %body
    %header{ role: 'banner' }
      = render 'layouts/header'
    %main{ role: 'main' }
      = yield
    %footer{ role: 'contentinfo' }
      = render 'layouts/footer'
    = javascript_include_tag 'google_analytics' if Rails.env.production?
