!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    = display_meta_tags site: 'David Montesdeoca', alternate: { es: root_url(locale: :es), en: root_url(locale: :en) }
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
  %body
    = render 'layouts/header'
    = yield
    = render 'layouts/footer'
    = javascript_include_tag 'google_analytics' if Rails.env.production?
